.social-media-left-messages-row.unread-msg p{
    color: #3CDD57 !important;
    font-weight: bold;
}

.wrapper:last-child{
    width: auto;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ECECEC;
  }
/* Handle */
::-webkit-scrollbar-thumb {
    background: #3CDD57;
  }


.trainer-main-content-container{

    max-width: 900px;
    margin: auto;
    /* margin-top: 140px; */
    margin-bottom: 40px;
    /* overflow-x: hidden; */
}

.trainer-create-gp-modal-btn{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-bottom: 40px;
}

.trainer-create-gp-modal-btn p{
    margin-bottom: 0;
    margin-left: 5px;
    font-weight: 600;
}

.trainer-create-gp--modal-btn-icon{
    font-size: 20px;
}


.trainer-two-columns-container{
    display: grid;
    grid-template-columns: 34% 64%;
    grid-gap: 15px;
}

.trainer-two-columns-container p{
    margin-bottom: 0;
}

.trainer-group-chats-parent-container{
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
    background-color: var(--customer-card-bg-color);
    padding: 20px 15px;
    border-radius: 10px;
    height: 100%;
}

.trainer-group-chats-parent-container > p{
    margin-bottom: 20px;
    color: var(--customer-text-color);
}

.trainer-group-chats-container{
    height: calc(100% - 40px);
    overflow-y: scroll;
}

.tainer-group-chat-name-container{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
    margin-bottom: 20px;
}
.group-chat-header-name-text-container{
    margin-left: 10px;
    max-width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

.group-chat-header-name-text-container span{
    font-size: 10px;
}

.tainer-group-chat-name-container:not(:first-child){
    margin-top: 20px;
}

.tainer-group-chat-name-container img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.tainer-group-chat-name-container p{
    margin-left: 10px;
}



.trainer-group-chat-view-members-header{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.customer-secondary-btn{
    padding: 8px 13px;
    border-radius: 5px;
    border: 2px solid #3CDD57;
    color: #3CDD57;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    white-space: nowrap;
}

.customer-secondary-btn:hover{
    color: #53f96f;
    border: 2px solid #53f96f;
}

.trainer-view-members-add-delete-btn-contaier{
    display: flex;
    align-items: center;
}

.trainer-view-members-add-btn{
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3CDD57;
    color: white;
}

.trainer-view-members-add-btn p{
    margin-bottom: 0;
    margin-left: 5px;
}
.back-btn-icon{
    font-size: 20px;
    color: #3CDD57;
    margin-top: 0;
}

.trainer-view-members-delete-btn{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #D70000;
    color: white;
    margin-left: 10px;
}

.customer-red-btn{
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    background-color: #D70000;
    color: white;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    white-space: nowrap;
}
.customer-red-btn:hover{
    background-color: #f52b2b;
    color: white;
}
.trainer-group-chat-members-container{
    height: 390px;
    overflow-y: scroll;
}

.trainer-group-chat-member-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.trainer-group-chat-member-row .customer-secondary-btn{
    border: 2px solid #3CDD57;
    color: var(--customer-text-color);
}

.trainer-group-chat-member-row .customer-secondary-btn:hover{
    border: 2px solid #3CDD57;
    color: var(--customer-primary-color);
}

.trainer-group-chat-member-name{
    display: flex;
    align-items: center;
}

.trainer-group-chat-member-name img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.trainer-group-chat-member-name p{
    margin-bottom: 0;
    margin-left: 5px;
    color: var(--customer-text-color);
}

.trainer-group-chat-member-kick-btn{
    margin-left: 10px;
}

.create-group-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.create-group-input p{
    margin-bottom: 0;
}

.create-group-input input, .create-group-input select{
    height: 45px;
    width: 300px;
    /* width: 100%; */
    display: inline-block;
    /* min-width: 150px; */
    border-radius: 5px;
}

.create-group-form-btns-contaier{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.create-group-form-btns-contaier button:nth-child(2){
    margin-left: 10px;
}

.trainer-group-chat-media-header{
    margin: 20px 0;
}

.trainer-group-chat-media-container{
    height: 500px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    /* grid-template-columns: repeat( auto-fill, minmax(95px, 1fr) ); */
    grid-gap: 10px 0;
}

.trainer-group-chat-media{
    width: 95px;
    height: 95px;
    background-color: #d9d9d9;
}

.trainer-group-chat-media button{
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;

}

.trainer-group-chat-media img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.trainer-group-chat-media video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.add-member-rows-container{
    height: 400px;
    overflow-y: scroll;
}

.add-member-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.add-member-name-container{
    display: flex;
    align-items: center;
}

.add-member-name-container img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.add-member-name-container p{
    margin-bottom: 0;
    margin-left: 5px;
}

.add-member-row-btns-container{
    display: flex;
    align-items: center;
}

.add-member-checkbox{
    display: flex;
    align-items: center;
    padding: 8px 13px;
    border: 2px solid #3CDD57;
    border-radius: 5px;
    cursor: pointer;
}

/* .add-member-checkbox:has(input:checked){
    background-color: var(--customer-primary-color);
} */

.add-member-checkbox p{
    margin-bottom: 0;
    margin-left: 5px;
    pointer-events: none;
    color: var(--customer-primary-color);
}

.add-member-checkbox input:checked + p{
    color: white;
}

.add-member-view-profile-btn{
    margin-left: 10px;
}

.add-member-checked{
    background-color: #3CDD57;
}

.groups-toggle-overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(63 63 63 / 80%), rgba(63 63 63 / 80%));
    z-index: 2;
    display: none;
}

.groups-toggle{
    display: none;
    position: relative;
    z-index: 4;
    color: var(--customer-text-color);
}

.group-chat-receiver-text-container p{
    /* width: 100%; */
    /* white-space: wrap; */
    padding: 5px;
    background-color: #3CDD57;
    border-radius: 5px;
    color: white;
}

.group-chat-sender-text-container span{
    /* width: 100%; */
    font-size: 10px;
    color: var(--customer-text-color);
}

.group-chat-sender-container > img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.group-chat-sender-text-container{
    margin-right: 5px;
    max-width: 200px;
}

.group-chat-sender-text-container > p{
    padding: 5px;
    border-radius: 5px;
    background-color: #3CDD57;
    color: white;
}

.group-chat-sender-text-container > img{
    width: 200px;
    height: auto;
}

.group-chat-send-form-container{
    height: 60px;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    width: calc(100% - 30px);
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    border-top: 1px solid #ECECEC;
}

.group-chat-img-cancel{
    border: none;
    background-color: #D70000;
    border-radius: 5px;
}

.group-chat-img-cancel-icon{
    color: white;
}
.group-chat-img-preview{
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-left: 10px;
}

.video-prev{
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.video-prev video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.group-chat-send-form-submit-btn{
    border: none;
    background-color: #3CDD57;
    border-radius: 5px;
    padding: 12px 28px;
}

.group-chat-send-form-submit-btn-icon{
    font-size: 30px;
    color: white;

}
.group-chat-send-form-submit-btn{
    padding: 12px 15px;
}

/* .group-chat-send-form-img-contaier{
    position: relative;
    cursor: pointer;
}

.group-chat-send-form-img-contaier input{
    width: 1px;
    height: 1px;
    position: absolute;
} */

.notis-box-container{
    position: absolute;
    background-color: #ffffff;
    /* padding: 10px; */
    border-radius: 10px;
    top: 40px;
    left: -210px;
    display: none;
    /* transform: translateX(-50%); */
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
    width: 290px;
    z-index: 1;
}

.notis-box-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 10px; */
    padding: 10px;
}

.notis-box-header p{
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
}

.notis-box-header a{
    font-size: 14px;
    color: #3CDD57;
}

.notis-box-notis-container{
    height: 200px;
    overflow-y: auto;
}

.notis-box-notis-container a{
    width: 100%;
}

.notis-box-noti-row{
    padding: 5px 10px;
    border-bottom:1px solid #cdffd5;
    /* border-radius: 5px; */
    /* width: 100%; */
    display: flex;
    align-items: center;
    gap: 0 5px;
}

.notis-box-noti-row > img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;

}

.notis-box-noti-row span{
    font-size: 10px;
    color: #000000;
}

.notis-box-noti-row p{
    font-size: 14px;
    color: #000000;
    margin-bottom: 0;
}

.notis-box-unread-noti{
    background-color: #cdffd5;
}

@media screen and (max-width:1000px){

    .groups-toggle{
        display: inline-flex;
        align-items: center;
        gap: 5px;
    }
    .trainer-two-columns-container{
        grid-template-columns:1fr;
    }

    .trainer-group-chats-parent-container{
        position: absolute;
        left: -300px;
        z-index: 3;
        transition: left 0.2s ease-in-out;
    }
    .groups-toggle-icon{
        transition: transform 0.2s ease-in-out;
    }

    .toggle-groups{
        left: 0;
    }

    .toggle-arrow{
       transform: rotate(180deg);
    }

    .group-chat-container{
        max-width: 550px;
        margin: auto;
    }

}

@media screen and (max-width:600px){
    .trainer-group-chat-media-container{
        grid-template-columns: repeat(4,1fr);
    }

    .trainer-view-members-add-btn{
        padding:10px 5px;
    }

    .trainer-view-members-delete-btn{
        padding:10px 5px;
    }

    .create-group-input input, .create-group-input select{
        width: 180px;
    }
}
@media screen and (max-width:500px){
    .trainer-group-chat-media-container{
        grid-template-columns: repeat(3,1fr);
    }

    .trainer-group-chat-media{
        width: 85px;
        height: 85px;
    }
}
